extends ../base

block content 
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(placeholder="Old Pasword", type="password", name="oldPassword")
        input(placeholder="New Pasword", type="password", name="newPassword")
        input(placeholder="New Pasword Confirmation", type="password", name="newPassword1")
        input(value="Change Password", type="submit")
